/* --------------------------------------------------------------------------- */
/* ELM DEVELOPMENT SERVER STYLES
/* --------------------------------------------------------------------------- */

[data-elm-hot="true"] {
  height: inherit;
}

/* --------------------------------------------------------------------------- */
/* RESET PADDING AND BOX-SIZING */
/* --------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Arial, Helvetica, system-ui, sans-serif;
  overflow: hidden;
}

/* --------------------------------------------------------------------------- */
/* STYLED DEFAULTS
/* --------------------------------------------------------------------------- */

input, select {
  padding: 5px;
  font-family: inherit;
}

select {
  font-size: 10pt;
}

input[type="text"] {
  font-size: 10pt;
  padding: 6px 8px;
}

button {
  background: #d1d5db;
  font-family: inherit;
  font-size: 10pt;
  color: #111827;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid #9ca3af;
  margin-top: 2px;
  cursor: pointer;
}

button:hover {
  border-bottom: 4px solid #9ca3af;
  margin-top: 0px;
}

button:active {
  border-bottom: 0px;
  margin-top: 4px;
}

button.selected {
  border-bottom: 0px;
  margin-top: 4px;
  background: #6b7280;
  color: white;
}

.screen {
  background-color: #f1f5f9;
}


/* --------------------------------------------------------------------------- */
/* SETTINGS SCREEN COMPONENT-SPECIFIC STYLES
/* --------------------------------------------------------------------------- */

#settings-screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#settings-modal {
  padding: 1rem 2rem 2rem 2rem;
  width: 600px;
  background: white;
  position: relative;
  border-radius: 2px;
  border: 1px solid #94a3b8;
  border-top: 5px solid #64748b;
}

#settings-modal::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  background: #64748b;
  border-top: 7px solid #64748b;
  border-left: 7px solid #64748b;
  border-bottom: 7px solid white;
  border-right: 7px solid white;
}

#settings-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #94a3b8;
}

#settings-modal-header-title, #settings-modal-header-team {
  margin: 0;
  padding: 0;
}

#settings-modal-header-title {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
}

#settings-modal-header-team {
  font-size: 0.8em;
  color: #777;
}

#settings-modal-intro {
  margin: 1rem 0;
}

#settings-modal-body {
  margin-top: 1.75rem;
  margin-bottom: 2.5rem;
}

#settings-picker {
  display: flex;
  flex-wrap: wrap;
}


.setting-picker-item {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 0.75rem;
  width: 100%;
}

.setting-picker-item.half-width {
  width: 47.5%;
}

.setting-picker-item.half-width.right {
  margin-left: 5%;
}

.setting-picker-item-label {
  font-size: 0.7em;
  color: #475569;
  margin-bottom: 3px;
  text-transform: uppercase;
}

.setting-picker-item-input-container {
  border: 1px solid #94a3b8;
  border-radius: 1px;
  display: flex;
}

.setting-picker-item-input-int-range, .setting-picker-item-input-float-range {
  margin: 0 1rem;
  flex: 1;
}

.setting-picker-item-input-value {
  margin: 0 1rem;
  display: flex;
  text-align: center;
  align-items: center;
}

.setting-picker-item-input-buttons {
  display: flex;
  gap: 1rem;
}

.setting-picker-item-button {
  flex: 1;
}

#settings-modal-footer {
  display: flex;
}

#start-game-button {
  background-color: #333;
  color: white;
  border-color: #000; 
  flex: 1;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

/* --------------------------------------------------------------------------- */
/* ANIMATIONS
/* --------------------------------------------------------------------------- */

@keyframes phase-rise-up {
  0% {
    transform: translateY(0%);
  }

  90% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-150%);
  }

}

/* --------------------------------------------------------------------------- */
/* GAME SCREEN COMPONENT-SPECIFIC STYLES
/* --------------------------------------------------------------------------- */

#gameplay-screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#restart-button-container {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

#restart-button {
  border: 0;
  margin: 0;
  background: #94a3b8;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

button#restart-button:hover {
  border: 0;
  margin: 0;
  background: #475569;
}

button#restart-button:active {
  border: 0;
  margin: 0;
}

.screen-container, .board-container, .phase {
  height: 100%;
  width: 100%;
}

.phase-transition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#good-phase-transition-card {
  animation-name: phase-rise-up;
  animation-duration: 5s;
  transform: translateY(-150%);
  background: black;
  color: white;
}

#evil-phase-transition-card {
  animation-name: phase-rise-up;
  animation-duration: 5s;
  transform: translateY(-150%);
  background: black;
  color: white;
}

#game-screen-container {
  display: flex;
  background: white;
  min-width: 640px;
  border: 1px solid #64748b;
  width: 80vh;
  max-width: 80vh;
  height: 80vh;
  max-height: 80vw
}

.board-container {
  padding: 1rem;
}

#board-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
}

.phase {
  position: relative;
}

.status {
  position: absolute;
  top: 0;
  left: 105%;
  font-size: 0.9em;
  width: 20%;
  border: 1px solid black;
  padding: 1rem;
}

.board {
  position: relative;
  width: 100%;
  height: 100%;
}

.board-layer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.heatmap-container {
  display: none;
}

.heatmap-container.is-visible {
  display: block;
}

.heatmap {
  height: 100%;
  width: 100%;
  display: grid;
}

.evil-member {
  position: absolute;
  /* border: 1px solid black; */
  border-radius: 99999px;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5px;
  z-index: 0;
}

.evil-member.special {
  z-index: 1;
}

.evil-member > svg {
  height: 100%;
  width: 100%;
}


.evil-member.included {
  border: 2px solid blue;
}

.evil-member.cursor-included {
  transform: scale(1.5);
  border: 1px solid yellow;
}

.evil-member.cursor-included.special {
  transform: scale(4);
}

.spy {
  position: absolute;
  border: 1px solid black;
  border-radius: 99999999px;
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5px;
}

.spy-circle {
  position: absolute;
  border-radius: 999999999px;
  border: 1px solid blue;
}

.spy-circle.detected {
  display: none;
}

.spy.detected {
  background: transparent;
  border: none;

}

.spy.detected::after {
  content: "☒";
  font-size: 1.2rem;
  color: red;
}


.device {
  position: absolute;
  border: 1px solid black;
  border-radius: 99999999px;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5px;
}

.device-circle {
  position: absolute;
  border-radius: 999999999px;
  border: 1px solid green;
}

.cursor-hover-circle, .cursor-hover-point {
  position: absolute;
}

.cursor-hover-point {
  position: absolute;
  border: 1px solid black;
  border-radius: 99999px;
  z-index: 20;
}

.cursor-hover-point-text {
  position: absolute;
  width: 30px;
  height: 24px;
  bottom: 14px;
  left: -12px;
  text-align: center;
  font-weight: bold;
  background: black;
  color: white;
  border-radius: 2px;
}

.cursor-hover-point-text::after {
  content: ' ';
  position: absolute;
  top: 24px;
  left: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.cursor-hover-circle {
  position: absolute;
  border: 1px solid black;
  border-radius: 99999px;
}

.good-cursor .cursor-hover-circle {
  background: rgba(0, 0, 255, 0.2);
}

#attached-cursor-layer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}




