/* --------------------------------------------------------------------------- */
/* ELM DEVELOPMENT SERVER STYLES
/* --------------------------------------------------------------------------- */

[data-elm-hot="true"] {
  height: inherit;
}

/* --------------------------------------------------------------------------- */
/* RESET PADDING AND BOX-SIZING */
/* --------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Arial, Helvetica, system-ui, sans-serif;
  overflow: hidden;
}

/* --------------------------------------------------------------------------- */
/* STYLED DEFAULTS
/* --------------------------------------------------------------------------- */

input, select {
  padding: 5px;
  font-family: inherit;
}

select {
  font-size: 10pt;
}

input[type="text"] {
  font-size: 10pt;
  padding: 6px 8px;
}

button {
  background: #d1d5db;
  font-family: inherit;
  font-size: 10pt;
  color: #111827;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid #9ca3af;
  margin-top: 2px;
  cursor: pointer;
}

button:hover {
  border-bottom: 4px solid #9ca3af;
  margin-top: 0px;
}

button:active {
  border-bottom: 0px;
  margin-top: 4px;
}

button.selected {
  border-bottom: 0px;
  margin-top: 4px;
  background: #6b7280;
  color: white;
}

.screen {
  background-color: #e5e5f7;
opacity: 0.8;
background-image:  linear-gradient(135deg, #f1f5f9 25%, transparent 25%), linear-gradient(225deg, #f1f5f9 25%, transparent 25%), linear-gradient(45deg, #f1f5f9 25%, transparent 25%), linear-gradient(315deg, #f1f5f9 25%, #e5e5f7 25%);
background-position:  10px 0, 10px 0, 0 0, 0 0;
background-size: 10px 10px;
background-repeat: repeat;
}


/* --------------------------------------------------------------------------- */
/* SETTINGS SCREEN COMPONENT-SPECIFIC STYLES
/* --------------------------------------------------------------------------- */

#settings-screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#settings-modal {
  padding: 1rem 2rem 2rem 2rem;
  width: 600px;
  background: white;
  position: relative;
  border-radius: 2px;
  border: 1px solid #94a3b8;
  border-top: 5px solid #64748b;
}

#settings-modal::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  background: #64748b;
  border-top: 7px solid #64748b;
  border-left: 7px solid #64748b;
  border-bottom: 7px solid white;
  border-right: 7px solid white;
}

#settings-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #94a3b8;
}

#settings-modal-header-title, #settings-modal-header-team {
  margin: 0;
  padding: 0;
}

#settings-modal-header-title {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
}

#settings-modal-header-team {
  font-size: 0.8em;
  color: #777;
}

#settings-modal-intro {
  margin: 1rem 0;
}

#settings-modal-body {
  margin-top: 1.75rem;
  margin-bottom: 2.5rem;
}

#settings-picker {
  display: flex;
  flex-wrap: wrap;
}


.setting-picker-item {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 0.75rem;
  width: 100%;
}

.setting-picker-item.half-width {
  width: 47.5%;
}

.setting-picker-item.half-width.right {
  margin-left: 5%;
}

.setting-picker-item-label {
  font-size: 0.7em;
  color: #475569;
  margin-bottom: 3px;
  text-transform: uppercase;
}

.setting-picker-item-input-container {
  border: 1px solid #94a3b8;
  border-radius: 1px;
  display: flex;
}

.setting-picker-item-input-int-range, .setting-picker-item-input-float-range {
  margin: 0 1rem;
  flex: 1;
}

.setting-picker-item-input-value {
  margin: 0 1rem;
  display: flex;
  text-align: center;
  align-items: center;
}

.setting-picker-item-input-buttons {
  display: flex;
  gap: 1rem;
}

.setting-picker-item-button {
  flex: 1;
}

#settings-modal-footer {
  display: flex;
}

#start-game-button {
  background-color: #374151;
  color: white;
  border-color: #000; 
  flex: 1;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

/* --------------------------------------------------------------------------- */
/* ANIMATIONS
/* --------------------------------------------------------------------------- */

@keyframes phase-rise-up {
  0% {
    transform: translateY(0%);
  }

  90% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-120%);
  }

}

@keyframes spy-circle-animation {
  0% {
    opacity: 0.1;
    transform: scale(0);
  }

  50% {
    opacity: 0.1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes flash-opacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes reduce {
  0% {
    transform: scale(2);
  }

  90% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

/* --------------------------------------------------------------------------- */
/* GAME SCREEN COMPONENT-SPECIFIC STYLES
/* --------------------------------------------------------------------------- */

#gameplay-screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#restart-button-container {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

#restart-button {
  border: 0;
  margin: 0;
  background: #94a3b8;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

button#restart-button:hover {
  border: 0;
  margin: 0;
  background: #475569;
}

button#restart-button:active {
  border: 0;
  margin: 0;
}

.screen-container, .board-container, .phase {
  height: 100%;
  width: 100%;
}

.phase-transition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

#good-phase-transition-card {
  animation-name: phase-rise-up;
  animation-duration: 3s;
  transform: translateY(-120%);
  background: #030712;
  color: white;
}


#good-phase-transition-card.computer {
  display: none;
}

#good-phase-computer-card {
  display: flex;
  background: #030712;
  color: white;
  display: none;
}

#good-phase-computer-card.computer {
  display: flex;
}


.phase-transition h1 {
  margin: 0.5rem 0;
  font-size: 3rem; 
}

.phase-transition h1::before {
  content: "🙚 ";
}

.phase-transition h1::after {
  content: " 🙘";
}

.phase-transition h2 {
  margin: 0.5rem 0;
  font-weight: normal;
}
.phase-transition .small{
  position: absolute;
  bottom: 4rem;
}

#evil-phase-transition-card {
  animation-name: phase-rise-up;
  animation-duration: 3s;
  transform: translateY(-120%);
  background: #030712;
  color: white;
}

#complete-phase-transition-card {
  background: white;
  animation-name: flash-opacity;
  animation-duration: 1s;
  opacity: 0;
}

#complete-status h1 {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
}

#complete-status h2 {
  margin: 0;
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

#complete-status-good-final-score {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

#complete-status-spies-found {
  text-align: center;
}

#game-screen-container {
  display: flex;
  background: white;
  min-width: 640px;
  border: 1px solid #64748b;
  width: 800px;
  height: 800px;
}

.board-container {
  padding: 1rem;
}

.board {
  overflow: hidden;
}

#board-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.35;
}

.phase {
  position: relative;
}

.status {
  position: absolute;
  top: 0;
  left: 102%;
  font-size: 0.9em;
  width: 25%;
  border: 1px solid #64748b;
  padding: 1rem;
  background: white;
}
.status button {
  margin-bottom: 0.5rem;
  width: 100%;
}

.board {
  position: relative;
  width: 100%;
  height: 100%;
}

.board-layer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.heatmap-container {
  display: none;
}

.heatmap-container.is-visible {
  display: block;
}

.heatmap {
  height: 100%;
  width: 100%;
  display: grid;
}

.evil-member {
  position: absolute;
  /* border: 1px solid black; */
  border-radius: 99999px;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5px;
  z-index: 1;
}

.evil-member.special {
  z-index: 2;
}

.evil-member > svg {
  height: 100%;
  width: 100%;
}


.evil-member.included {
  border: 3px solid #0ea5e9;
}

.evil-member.cursor-included {
  transform: scale(1.5);
  border: 1px solid #0ea5e9;
}


#evil-board .evil-member.cursor-included {
  border: 1px solid #ef4444 !important;
}

.evil-member.cursor-included.special {
  transform: scale(4);
}

.spy {
  position: absolute;
  border: 2px solid #075985;
  border-radius: 99999999px;
  background: #0284c7;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5px;
  z-index: 2;
}

.spy-circle {
  position: absolute;
  background: #7dd3fc;
  border-radius: 999999999px;
  border: 1px solid #0369a1;
  z-index: 3;
  opacity: 0.2;
}

.spy-circle.animated {
  animation-name: spy-circle-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.spy-circle.detected {
  display: none;
}

.spy.detected {
  background: transparent;
  border: none;

}

.spy.detected::after {
  content: "☒";
  font-size: 1.4rem;
  color: red;
  animation-name: reduce;
  animation-duration: 1s;
}


.device {
  position: absolute;
  border: 1px solid #ea580c;
  border-radius: 99999999px;
  background: #f97316;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5px;
}

.device-circle {
  position: absolute;
  border-radius: 999999999px;
  background: rgba(251, 146, 60, 0.4);
}

.device-circle.animated {
  animation-name: flash-opacity; 
  animation-duration: 1s;
  background: white;
  opacity: 0;
  z-index: 10;
}

.cursor-hover-circle, .cursor-hover-point {
  position: absolute;
}

.cursor-hover-point {
  position: absolute;
  border: 1px solid black;
  background: black;
  border-radius: 99999px;
  z-index: 20;
}


.cursor-hover-point-text {
  position: absolute;
  width: 30px;
  height: 24px;
  bottom: 20px;
  left: -8px;
  text-align: center;
  font-weight: bold;
  background: black;
  color: white;
  border-radius: 2px;
}

.cursor-hover-point-text::after {
  content: ' ';
  position: absolute;
  top: 24px;
  left: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.cursor-hover-circle {
  position: absolute;
  border-radius: 99999px;
}

.good-cursor .cursor-hover-circle {
  border: 1px solid #38bdf8;
  background: rgba(125, 211, 252, 0.25);
}

.evil-cursor .cursor-hover-circle {
  border: 1px solid #fda4af;
  background: rgba(253, 164, 175, 0.25);
}

#attached-cursor-layer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}




